---
import Image from '../components/Image.svelte'
import Layout from '../layouts/Layout.astro';

const { imageDate } = Astro.params;

const image = await fetch(
  `https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY&date=${imageDate}`
).then(res => res.json());
---

<Layout title={image.title}>
  <main>
    <h1>{image.title}</h1>
    <Image title={image.title} url={image.url} alt={image.explanation} media_type={image.media_type}>
      <p slot="figcaption">
        {image.explanation}
      </p>
    </Image>
  </main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
